@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.Keyboard {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  & h1 {
    color: #60C1B6;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 2rem;
    margin: -20px 0 20px;
  }
}

