.Calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  &__small,
  &__large,
  &__high {
    max-width: 80%;
    &:hover {
      animation: 0.6s linear 0s infinite move_card;
    }
  }
  &__large {
    position: relative;
    &__links {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &__contentLeft,
      &__contentRight {
        position: absolute;
        height: 100%;
        width: 50%;
      }
      &__contentLeft {
        left: 0;
      }
      &__contentRight {
        right: 0;
      }
    }
  }
  &__high {
    position: relative;
    &__links {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &__contentTop,
      &__contentBottom {
        position: absolute;
        height: 50%;
        width: 100%;
      }
      &__contentTop {
        top: 0;
      }
      &__contentBottom {
        bottom: 0;
      }
    }
  }
  @media (min-width: 800px) {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    &__large {
      grid-column: span 2;
    }
    &__high {
      grid-row: span 2;
    }
    &__small,
    &__large,
    &__high {
      & img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@keyframes move_card {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

#onetwothree {
   background: red;
}