@font-face {
  font-family: 'Strange Tales';
  src: url('../assets/fonts/StrangeTales/StrangeTales.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

$bigSize: 100px;
$smallSize: 30px;