@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.Slidebar {
  background: #262529;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  &__wrapper {
    background: #262529;
    box-shadow: 0px 0px 250px #000000;
    border-radius: 20px;
    padding: 60px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__amount {
      color: #FFC700;
      font-weight: bold;
      font-size: 6rem;
      display: flex;
      align-items: center;
      gap: 10px;
      &__sign {
        font-size: 5.5rem;
      }
      &__sum {

      }
    }
    &__slider {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 10px;
      width: 700px;
      height: 14px;
      background: #4D4C53;
      outline: none;
      margin: 70px 0;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 50px;
        height: 50px;
        background: #EA346F;
        cursor: pointer;
        border-radius: 50%;
        outline: 15px solid rgba(234, 52, 111, .2);
        &:active {
          transform: scale(1.1);
          transition: transform .5s;
        }
      }
      /* slider handle */
      &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        border: none; /* firefox needs this */
        width: 50px;
        height: 50px;
        background: #EA346F;
        cursor: pointer;
        border-radius: 50%;
        outline: 15px solid rgba(234, 52, 111, .2);
      }
      /* progress (before knob) within Firefox */
      &::-moz-range-progress {
        background: #EA346F;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 14px;
      }
    }
    &__buyBtn {
      font-family: 'Source Sans Pro', sans-serif;
      border: none;
      color: white;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 20px 60px;
      background: #333139;
      border-radius: 100px;
      letter-spacing: 1px;
      cursor: pointer;
      &:hover {
        background: white;
        color: black;
        transition: all .3s;
      }
      &:active {
        background: #333139;
        color: white;
        opcity: .8;
        transition: all .3s;
      }
    }
  }
}





